/*!
* © Devsfront
* Copyright Not A Number and his devs

                    .
                    d8b
                d88888b
                d888Y Y888b
            d888Y  .  Y888b
            d888Y   d8b   Y888b
        d888Y   d88888b   Y888b
            ""   d888Y Y888b   ""
            d888Y  .  Y888b
                ""   d8b   ""
                d88888b
8888b   88888     Y8b     8888b   88888
    8888b   888       '       8888b   888
    88888b  888               88888b  888
    888Y88b 888    88888b.    888Y88b 888
    888 Y88b888    "   "88b   888 Y88b888
    888  Y88888   .d8888888   888  Y88888
    888   Y8888   888   888   888   Y8888
88888   Y888   "Y88888"88 88888   Y888 
*---------------------------------------------
*
* MAIN.CSS
*
*/

/* Font ********************************************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* VARIABLES ********************************************* */

:root{

    /* color */
    --color-principal: #1c00a3;
    --color-secondaire: #cf2224;
    --color-paragraphe: #abacae;
    --color-black: #000;
    --color-white: #fff;

    /* Autre */
    --transition: .5s;
    
    --shadow-btn: 0px 0px 30px 0px rgba(53,56,240,0.5);
    --shadow-btn-red: 0px 0px 30px 0px #cf22256e;
    --shadow-business: 0px 0px 30px 0px rgba(0,0,0,0.16);
    --shadow-card-radius: 0px 0px 20px 0px rgba(0,0,0,0.13);
    --shadow-testamonial: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}


/* General code*/

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button:focus{
    outline: none;
}


/* INDEX ************************************ */
/* INDEX ************************************ */
/* INDEX ************************************ */

/* ******* header section *********** */

/* navigation bar */

.navbar {
    height: 6rem;
    background: var(--color-principal);
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    width: 100%;
    z-index: 10;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar a.navbar-brand {
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 3rem;
}

.navbar a.navbar-brand img {
    height: 4rem;
}

.navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height: 5rem;
    padding: 0 1rem;
    margin-right: 3rem;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: block;
    text-align: center;
    padding: 0 1rem;
    font-size: 1.6rem;
}

.navbar ul li a:hover {
    background-color: rgba(255,255,255,0.15);
}

.navbar .navbar-toggler {
    display: none;
}


/* content header */

.content-header{
    background: url("../images/bg/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2rem;
}

.content-header .text-header{
    color: var(--color-white);
}

.content-header .text-header h5{
    font-weight: 600;
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

.content-header .text-header h1{
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.content-header .text-header p{
    margin-bottom: 1rem;
}

.content-header .text-header button{
    border: 1px solid transparent;
    border-radius: 5rem;
    padding: .5rem 2rem;
    background: var(--color-white);
    color: var(--color-principal);
    font-weight: bold;
    transition: var(--transition);
}

.content-header .text-header button:hover{
    background: var(--color-principal);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    transition: var(--transition);

}

.content-header .img-header img{
    border-top-left-radius: 15%;
    border-top-right-radius: 20%;
}

/* transform-img header */
/* header transform-img */
#transform-img-1{
    height: 5rem;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 100%);
}

/* section presentation */
#presentation{
    min-height: 30rem;
    padding: 5rem 0;
}

.item-presentation h3{
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.item-presentation h1{
    color: var(--color-principal);
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.item-presentation ul{
    margin: 0 0 3rem 2rem;
}

.item-presentation button{
    color: var(--color-white);
    background: var(--color-principal);
    padding: .6rem 2.5rem;
    font-weight: bold;
    box-shadow: var(--shadow-btn);
    border: 1px solid transparent;
    border-radius: 5rem;
    transition: .5s;
}

.item-presentation button:hover{
    background: var(--color-secondaire);
    box-shadow: var(--shadow-btn-red);
    transition: .5s;
}

.item-presentation .element-item p img{
    height: 2.5rem;
    margin-right: 1rem;
}

.item-presentation .element-item-1 p,
.item-presentation .element-item-2 p{
    box-shadow: var(--shadow-business);
    padding: 1.5rem 2rem;
    margin-bottom: 4rem;
    border-radius: 5rem;
    width: 60%;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-principal);
    text-align: center;
}

.item-presentation .element-item-2 p{
    margin-left: 35%
}

/* .animation-hover:hover{
    animation-name: animation-hover;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
} */


/* section nombre */
#nombre{
    padding: 5rem 0;
}

#nombre .card-nombre{
    box-shadow: var(--shadow-card-radius);
    min-height: 15rem;
    padding: 3rem;
    text-align: center;
    border-radius: 2rem 7rem;
}

#nombre .card-nombre h3{
    font-size: 2rem;
    font-weight: bold;
}

#nombre .card-nombre h4{
    font-size: 1.8rem;
    font-weight: bold;
}

#nombre .card-nombre p{
    color: var(--color-principal);
    font-size: 6rem;
    font-weight: bolder;
}


/* section cleints */
#clients{
    padding: 5rem 0;
}

#clients .client-text h1{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color-principal);
    margin-bottom: 2rem;
}

#clients .client-text h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#clients .client-text button{
    color: var(--color-white);
    background: var(--color-principal);
    padding: .6rem 2.5rem;
    font-weight: bold;
    box-shadow: var(--shadow-btn);
    border: 1px solid transparent;
    border-radius: 5rem;
    transition: .5s;
    margin-top: 2rem;
}

#clients .client-text button:hover{
    background: var(--color-secondaire);
    box-shadow: var(--shadow-btn-red);
    transition: .5s;
}


/* section service */

#services{
    padding: 5rem 0;
    min-height: 30rem;
}

#services .service-head{
    margin-bottom: 3.5rem;
}

#services .service-head h3{
    font-size: 2rem;
    font-weight: bold;
}

#services .service-head h1{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color-principal);
}

#services .card-service{
    box-shadow: var(--shadow-card-radius);
    border-radius: 2rem 7rem;
    min-height: 25rem;
    padding: 5rem 3rem;
    margin: 2.5rem 0;
}

#services .card-service img{
    height: 5rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

#services .card-service h3{
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize;
}

#services .card-service p{
    font-size: 1.6rem;
}


/* section equipe */

#equipe{
    min-height: 25rem;
    padding: 5rem 0;
}

#equipe .equipe-head{
    margin-bottom: 3rem;
}

#equipe .equipe-head h1{
    font-size: 4rem;
    color: var(--color-principal);
    font-weight: bold;
}

#equipe .equipe-head p{
    font-size: 2rem;
}

#equipe .card-equipe{
    position: relative;
    min-height: 20rem;
}

#equipe .card-equipe img{
    width: 100%;
    height: 30rem;
    filter: grayscale(1);
    transition: var(--transition);
}

#equipe .card-equipe:hover img{
    filter: grayscale(0);
    transition: var(--transition)
}

#equipe .card-equipe .membre-info{
    position: absolute;
    bottom: 8%;
    min-width: 70%;
    background-color: rgba(17, 17, 17, 0.5);
    overflow: hidden;
    padding: 1rem 1.5rem .5rem;
    color: white;
    z-index: 1;
    transition: var(--transition);
    clip-path: polygon(0 0, 88% 0, 100% 100%, 0% 100%);
    line-height: 1rem;
}

#equipe .card-equipe:hover .membre-info{
    padding-left: 5rem;
    padding-right: 4rem;
    transition: var(--transition);
}

#equipe .card-equipe .membre-info h3{
    font-size: 2rem;
    font-weight: bold;
}

#equipe .card-equipe .membre-info p{
    font-size: 1.4rem;
}


/* section testamonial */

#testamonial{
    min-height: 25rem;
    padding: 5rem 0;
}

#testamonial .text-testamonial h3{
    font-size: 2rem;
    font-weight: bold;
}

#testamonial .text-testamonial h1{
    color: var(--color-principal);
    font-size: 4rem;
    font-weight: bold;
    text-transform: capitalize;
}

#testamonial .card-testamonial{
    box-shadow: var(--shadow-testamonial);
    min-height: 30rem;
    padding: 4rem 3rem;
    transition: var(--transition);
    position: relative;
    margin: 2rem;
}

#testamonial .t-position{
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color-principal);
    color: var(--color-white);
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8rem;
}

#testamonial .t-position img{
    height: 3rem;
    margin-left: 1rem;
}

#testamonial .card-testamonial:hover h3{
    color: var(--color-principal);
    transition: var(--transition);
}

#testamonial .card-testamonial .photo-temoin img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin: auto;
}

#testamonial .card-testamonial h3{
    font-weight: bold;
    font-size: 2rem;
}

#testamonial .card-testamonial .testamonial-descript{
    font-size: 1.6rem;
    margin-top: 2rem;
}

#testamonial .owl-theme .owl-dots,
#testamonial .owl-theme .owl-nav{
    display: none;
}


/* section partenaire */
#partenaire{
    min-height: 20rem;
    padding: 5rem 0;
}

#partenaire .partenaire-head{
    margin-bottom: 3rem;
}

#partenaire .partenaire-head h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#partenaire .partenaire-head h1{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color-principal);
    margin-bottom: 1rem;
}

#partenaire .partenaire-head p{
    font-size: 1.7rem;
    width: 80%;
    margin: auto;
}

#partenaire .img-partenaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 10rem;
}

#partenaire .img-partenaire img{
    height: 10rem;
    width: 10rem;
}


/* section contact */

#contact{
    min-height: 30rem;
    padding: 5rem 0;
}

#contact .contact-info h1{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color-principal);
    margin-bottom: 3rem;
    text-align: center;
}

#contact .contact-info img{
    height: 4rem;
    margin-bottom: 1rem;
}

#contact .contact-number,
#contact .contact-localisation,
#contact .contact-mail{
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 2rem;
    border: 1px solid var(--color-principal);
    padding: 1rem;
}

#contact .form-contact{
    box-shadow: var(--shadow-card-radius);
    border-radius: 11rem 4rem;
    min-height: 30rem;
    padding: 9rem 7rem;
}

#contact .form-contact form input,
#contact .form-contact form textarea{
    width: 100%;
    margin-bottom: 2.5rem;
    outline: none;
    color: var(--color-paragraphe);
    font-size: 1.7rem;
    padding: .7rem 2rem;
    border: 1px solid transparent;
    box-shadow: 1px 3px 10px 0px rgba(239,239,239,0.94);
}

#contact .form-contact form textarea{
    min-height: 15rem;
}

#contact .form-contact form button{
    padding: 1rem 5rem;
    border: 1px solid var(--color-principal);
    color: var(--color-principal);
    transition: var(--transition);
    background: transparent;
    font-weight: bold;
}

#contact .form-contact form button:hover{
    transition: var(--transition);
    background: var(--color-principal);
    color: var(--color-white);
}


/* modal form */

.modal-header{
    background: var(--color-principal);
    color: var(--color-white);
    font-weight: bold;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.modal-header img{
    height: 2rem;
    margin-top: .5rem;
    cursor: pointer;
}

.modal-header .close{
    opacity: 1!important;
}

.form-modal{
    padding:2rem;
}

.form-modal input,
.form-modal textarea,
.form-modal select{
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    outline: none;
    font-size: 1.6rem;
    border: 1px solid var(--color-principal);
    color: var(--color-paragraphe);
    transition: var(--transition);
}

.form-modal input:hover,
.form-modal textarea:hover{
    box-shadow: var(--shadow-btn);
    transition: var(--transition)
}

.form-modal input:focus,
.form-modal textarea:focus{
    border: 1px solid var(--color-secondaire);
    box-shadow: var(--shadow-btn);
    transition: var(--transition);
}

.form-modal textarea{
    min-height: 13rem;
}

.form-modal button{
    float: right;
    font-weight: bold;
    letter-spacing: .3rem;
    padding: 1rem 4rem;
    outline: none;
    background: var(--color-principal);
    color: var(--color-white);
    border: 1px solid transparent;
    transition: var(--transition);
}

.form-modal button:hover{
    background: transparent;
    color: var(--color-principal);
    border: 1px solid var(--color-secondaire);
    transition: var(--transition);
}

/* custom select */
.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: var(--color-paragraphe);
    width: 100%;
    height: 4.5rem;
    border: 1px solid var(--color-principal);
    transition: var(--transition);
}

.select:hover{
    box-shadow: var(--shadow-btn);
    transition: var(--transition);
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    padding: 8px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
}

.select-styled:hover {
    background-color: transparent;
}

.select-styled:active, .select-styled.active {
    background-color: transparent;
}

.select-styled:active:after, .select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #000 transparent;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--color-principal);
}

.select-options li {
    margin: 0;
    padding: 1rem 0;
    text-indent: 15px;
    border-top: 1px solid white;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    font-weight: bold;
}

.select-options li:hover {
    color: #000;
    background: #fff;
}

.select-options li[rel="hide"] {
    display: none;
}


/* section image transform */
#transform-img{
    height: 5rem;
    clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%);
    margin-top: 5rem;
}

#transform-img img,
#transform-img-1 img{
    width: 100%;
    height: 100%;
}


/* section booster */

#booster{
    min-height: 25rem;
    color: var(--color-white);
}

#booster .box-boost{
    background: url("../images/bg/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 5rem;
}

.box-boost .text-booster h1{
    font-size: 4rem;
    font-weight: bold;
}

.box-boost .text-booster p{
    font-size: 2rem;
    font-weight: bold;
}

.box-boost .text-booster button{
    color: var(--color-principal);
    background: var(--color-white);
    padding: .6rem 2.5rem;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5rem;
    transition: var(--transition);
    margin-top: 2rem;
}

.box-boost .text-booster button:hover{
    background: transparent;
    transition: var(--transition);
    color: var(--color-white);
}

.box-boost .img-boost img{
    margin-top: -20%;
    border-top-left-radius: 7rem;
}


/* footer */
#footer{
    min-height: 2rem;
    background: url("../images/bg/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 2rem 0 1rem;
    color: var(--color-white);
    border-top: 1px solid var(--color-principal);
}

#footer .footer-logo img{
    height: 4rem;
}

#footer .footer-reseaux{
    text-align: center;
}

#footer .footer-reseaux img{
    height: 3rem;
    margin: 0 .5rem;
    transition: var(--transition);
}

#footer .footer-reseaux img:hover{
    transform: translateY(-20%);
    transition: var(--transition);
}

#footer .footer-copyright{
    text-align: right;
    font-size: 1.5rem;
}





/* * MEDIA SCREEN *************************** */
/* * MEDIA SCREEN *************************** */
/* * MEDIA SCREEN *************************** */


/* desktop ********* */
@media screen and (max-width: 1200px){

}


/* laptop ********** */
@media screen and (max-width: 992px){
    /* general */
    .content-header .text-header h1{
        font-size: 4rem;
    }

    #main-box h1{
        font-size: 3.5rem;
    }

    #main-box h2{
        font-size: 2rem;
    }

    #main-box h3{
        font-size: 1.7rem;
    }

    #main-box p{
        font-size: 1.7rem;
    }

    .item-presentation ul{
        font-size: 1.7rem;
    }

    #nombre .card-nombre p{
        font-size: 5rem;
    }

    /* form modal */
    .modal-header h1{
        font-size: 2rem!important;
    }

    /* header */
    .content-header .text-header{
        margin-bottom: 2rem;
    }

    /* navbar */
    .navbar ul {
        padding: 0 10px;
    }
    .navbar ul li a {
        min-width: 100px;
        padding: 0 20px;
    }

    /* section presentation */
    .item-presentation{
        margin-bottom: 5rem;
    }

    /* section nombre */
    #nombre .mb-n{
        margin-bottom: 3rem;
    }

    /* section client */
    #clients .client-img{
        margin-bottom: 3rem;
    }

    /* section aquipe */
    #equipe .mb-e{
        margin-bottom: 3rem;
    }

    /* section partenaire */
    #partenaire .img-partenaire img{
        margin-bottom: 2rem;
    }

    /* section contact */
    #contact .contact-info{
        margin-bottom: 4rem;
    }
}


/* tablet *********** */
@media screen and (max-width: 768px){
    /* header */
    .content-header{
        padding-top: 7rem;
    }

    .content-header .text-header h1{
        font-size: 3rem;
    }

    .content-header .img-header img{
        height: 35rem;
    }

    /* navbar */
    .navbar {
        padding: 0;
    }

    .navbar a.navbar-brand{
        display: flex;
        align-items: center;
    }

    .navbar ul {
        width: 100%;
        padding: 0;
        background-color: rgba(0,0,0,0.9);
        /* height: auto; */
        height: 100vh;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.3s;
    }

    .navbar ul.open {
        max-height: 100vh;
        margin: 0;
    }

    .navbar ul li {
        width: 100%;
        /* border-bottom: 1px solid rgba(255,255,255,0.3); */
    }

    .navbar ul li a {
        padding: 0;
    }

    .navbar .navbar-toggler {
        display: block;
        position: absolute;
        height: 35px;
        top: 1.3rem;
        right: 2.7rem;
        background-color: transparent;
        color: #fff;
        border: 3px solid #fff;
        /* border: none; */
        /* border-radius: 4px; */
        outline: none;
        padding: 0 5px;
        cursor: pointer;
    }

    .navbar .navbar-toggler span,
    .navbar .navbar-toggler span::before,
    .navbar .navbar-toggler span::after {
        display: block;
        content: '';
        background-color: #fff;
        height: 2px;
        width: 28px;
        border-radius: 4px;
        transition: all ease-in-out 0.3s;
    }

    .navbar .navbar-toggler span::before {
        transform: translateY(-8px);
    }

    .navbar .navbar-toggler span::after {
        transform: translateY(5px);
    }
    
    .navbar .navbar-toggler.open-navbar-toggler span {
        /* transform: rotate(90deg); */
        background-color: transparent;
        /* transform: scale(0.85) rotate(270deg); */
    }

    .navbar .navbar-toggler.open-navbar-toggler span::before {
        transform: translateY(0px) rotate(45deg);
        /* transform: translateY(0px) scale(0.75) rotate(45deg); */
    }

    .navbar .navbar-toggler.open-navbar-toggler span::after {
        transform: translateY(-3px) rotate(-45deg);
        /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
    }

    /* section service */
    #services .service-head{
        text-align: center;
    }
    /* section testamonial */
    #testamonial .card-testamonial{
        padding: 1rem;
        margin: 1rem;
    }

    #testamonial .t-position{
        height: 6rem;
        width: 6rem;
    }

    #testamonial .t-position img{
        height: 2.5rem;
    }

    #testamonial .text-testamonial{
        text-align: center;
    }

    /* section contact */
    #contact .form-contact{
        border-radius: 1rem;
        padding: 5rem 3rem;
    }

    /* section transform img */
    #transform-img{
        margin-top: initial;
    }

    /* section booster */
    #booster .text-booster{
        margin-bottom: 3rem;
    }

    .box-boost .img-boost img{
        margin-top: initial;
    }

    /* footer */
    #footer .footer-logo,
    #footer .footer-reseaux{
        margin-bottom: 2rem;
    }

    #footer .footer-logo,
    #footer .footer-reseaux,
    #footer .footer-copyright{
        text-align: center;
    }
}


/* mobile ********** */
@media screen and (max-width: 576px){
    /* general */
    #main-box h1{
        font-size: 3rem!important;
    }

    #main-box h2{
        font-size: 1.5rem;
    }

    #main-box h3{
        font-size: 1.3rem;
    }

    #main-box p{
        font-size: 1.5rem!important;
    }

    .item-presentation ul{
        font-size: 1.5rem;
    }

    #nombre .card-nombre p{
        font-size: 4rem!important;
    }

    /* section testamonial */
    #testamonial .card-testamonial{
        padding: 2rem;
        margin: 2rem;
    }

    #testamonial .t-position{
        height: 7rem;
        width: 7rem;
    }

    #testamonial .t-position img{
        height: 3rem;
    }

    /* section contact */
    #contact .contact-number, 
    #contact .contact-localisation, 
    #contact .contact-mail{
        width: 100%;
    }

    /* section partenaire */
    #partenaire .img-partenaire{
        margin: 0 2rem;
    }

    #partenaire .img-partenaire img {
        height: 7rem;
        width: 7rem;
        margin: 0 1rem;
    }

    /* form modal */
    #main-box .modal-header h1{
        font-size: 2.5rem!important;
    }
}

@media screen and (max-width:350px){
    /* section presentation */
    .item-presentation .element-item-1 p, 
    .item-presentation .element-item-2 p{
        width: 100%;
    }

    .item-presentation .element-item-2 p{
        margin-left: 0;
    }

    /* form modal */
    #main-box .modal-header h1{
        font-size: 1.5rem!important;
    }
}